      /*"nav" para enlaces*/
      .generic_nav{  /*header*/
         div{
          ul{
          li{
            .index_nav-a{
              color:map-get($font_colors,index_subtitle-enlaces)!important;
            }
          }
        }
      }
    }  

    

   
      .index_main{
        height: 70%;
          .index_section1{
            height: 20%;
            box-sizing: none!important;
            margin-block: 50px;
            font-size: 100%;
          }
          section{
         
          h6{
          display: flex;
          justify-content: center;
          align-items: center;  
          padding: 2%;
          text-align: center;
          font-family: var(--subtitle);
          font-size: larger;
          color: map-get($font_colors,index_subtitle-enlaces);
          }
          div{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 40%;
            
            p{
              background-color: map-get($font_colors,index_background-color-pf);
              border-radius: 10px;
              font-family: var(--subtitle);
              font-size: 30px;
              font-weight: 400;
              font-size: larger;
              align-items: center;
              color: map-get($font_colors,index_subtitle-enlaces);
              padding: 20px;
              max-width: 70%;
            }
          }
        }
      }

   
  
  