
      /***************DESIGN RESPONSIVE*************************/

    
    /* Tabletas como el iPad (1024x768), en modo horizontal, así como algunas pantallas de ordenador portátil, netbook, y de escritorio (entre 1024px y 1199px) */
    @media screen and (min-width: 1024px) and (max-width: 1199px) {
       
       /* -------- INDEX -------------*/


       /* -------- SERVICE -------------*/

       .service_body{
          .service_main{
            section{ 
              h1{
                padding: 1rem
              }
              h6{
                padding: 1rem
              }
            }
          }
      }

      /*  -------- GALLERY ------------ */    
     
        
      
      /* ---------- KNOW MORE ----------*/
      


      /*----------- CONTACT --------------*/
  
      .contact_body{
      background-image: url('../imagenes/know_fondo-img.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height: 100vh;
      
      
      /*section 1 */
      .contact_main--section1{
        display: block;
        text-align: center;
        /* "Titulo" section 1 */
        .contact_main--section1 .contact_h1{
          padding-top: 2%;
          padding-bottom: 2%;
          margin: 0px;
          font-family: var(--subtitle);
          color: map-get($font_colors, generic_color-titles)!important;
        }   
        /* "Subtitulo" section 1 */
        h6{
          padding-top: 1%;
          padding-bottom: 1%;
          margin: 0px;
          font-family: var(--parrafo);
        } 
          /* "imagen" section 1 wsp */
        a img{
          cursor: pointer;
          width: 4%;
          margin: 1%;
        }
      }
      
        /*section 2*/
      .contact_main--section2{
        display: flex;
        align-items: center;
        max-width: 100%;
        img{
          width: 50%;
          padding: 5%;
        }
      }
    
      /*formulario section 2*/
       .contact_main--section2 form{
        padding: 5%;
      }
      }  

      
     
    }
    



    
    /* Tabletas de diez pulgadas como el iPad (768x1024), en modo vertical (entre 768px y 1023px) */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
       
      /* -------- INDEX -------------*/
     


      /* -------- SERVICE -------------*/
      .service_body{
          .service_main{
            section{ 
              h1{
                padding: 0.5rem
              }
              h6{
                padding: 0.5rem
              }
            }
          }
      }


        /*-------- GALLERY ----------- */  
     


      /* ---------- KNOW MORE ----------*/
    


    /*------------CONTACT-----------*/
   
      
      
    }
    
    /* Tabletas pequeñas (entre 600px y 767px) */
    @media screen and (min-width: 600px) and (max-width: 767px) {
  

    /* -------- INDEX -------------*/
    .index_main{
        .index_section1{   
          h6{
          margin: 3%;
          }
        }
      }



    /* -------- SERVICE -------------*/
    .service_body{
      .service_main{
        section{ 
          h1{
            padding: 0.5rem
          }
          h6{
            padding: 0.5rem
          }
        }
      }
  }


    /*  -------- GALLERY ----------- */
    


    /* ---------- KNOW MORE ----------*/
    


    /*-------------CONTACT--------------*/
    .contact_body{
        /*section 2*/
      .contact_main--section2{
        flex-wrap: wrap;
        justify-content: center;
      }
    }   



    }




    /* Para dispositivos con pantallas pequeñas, como los teléfonos, en modo horizontal (entre 480px y 599px) */
    @media screen and (min-width: 320px) and (max-width: 599px) {
    
     


      /* -------- INDEX -------------*/
      .index_main{
          .index_section1{    
            h6{
            margin: 3%;
            }
          }
          section{
            div{
              p{
                max-width: 75%;
              }  
            }
          }
        }



       /* -------- SERVICE -------------*/
      


      /*---------GALLERY ------------- */
      


        /* ---------- KNOW MORE ----------*/
  
     


      /*--------------     CONTACT     --------------*/
  
      .contact_body{
        /*section 2*/
      .contact_main--section2{
        flex-wrap: wrap;
        justify-content: center;
      }
    }  
        
      .generic_footer{
        position: 0;
        bottom: 0px;
        height: auto;
        div{
          p{

          }
        }
        div{
          gap: 10px;
          a{
            img{
              width: 25px;
            }
          }
        }
      }

    }
    
  
    /*Acordate que el div que afectaba a todas las paginas tenia una class container
    de ultima agregaselas a las paginas que quedan */